.fakeimg {
    height: 360px;
    /* background: rgb(179, 14, 14); */
    background-image: url(img/fon2.jpg);
    background-size: cover;    
}
a{
    color: white;
}

.mybtn .btn{
    border: 1px solid white;
    color: white;
    border-radius: 4px;
}
.mycard {
     background-image: url(img/fon2.jpg);

}

